* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar-brand img {
    width: 100px; /* Establece el ancho deseado */
    height: auto; /* Establece la altura automática para mantener la proporción */
  }

  .menu-color {
    background-color: yellow;
  }
  
  .color-link {
    font-weight: bold;
  }

  .inicio {
    padding: 10% 0 10% 0;
    background-color: rgb(247, 244, 244);
    text-align: center;
  }

  .parrafo {
    padding: 0 20% 0 20%;
  }

  .cards {
    display: flex;
    justify-content: center;
    padding: 2% 5% 2% 5%;
  }

  .card {
    margin: 5px;
  }

  footer {
    background-color: yellow;
    padding: 60px 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }

/* -------------------------------- */


.nosotros {
  padding: 10%;
}

.about-us {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about-us-image {
  width: 600px;
  height: auto;
  margin-right: 20px;
  border-radius: 4px;
}

.about-us-content {
  flex: 1;
}

.about-us-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.about-us-text {
  color: #666;
  line-height: 1.5;
}


/* ------------------ */

.productos {
  padding: 2% 0 2% 0;
  background-color: rgb(247, 244, 244);
  text-align: center;
}


/* ------------------- */

.contacto {
  padding: 2% 0 2% 0;
  background-color: rgb(247, 244, 244);
  text-align: center;
}