$color-bg-primary: yellow;
$color-bg-secondary: rgb(255, 169, 9);
$color-bg-tercero: rgb(36, 36, 36);

$color-bg-white: white;
$color-bg-light: rgb(231, 229, 229);

$color-text-ligth: white;
$color-text-ligth-2: rgb(224, 221, 221);
$color-text-black: rgb(26, 26, 26);
$color-text-black-2: rgb(48, 47, 47);
$color-text-yellow: rgb(216, 216, 0);